<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:annotation package="space.isnow.dubbox_boot.provider_dubbo.service" />

    <dubbo:protocol name="rest" port="9090" threads="500" contextpath="services" server="tomcat" accepts="500" />
    <dubbo:protocol name="dubbo" />
</beans>
